.about__header {
  margin: 2rem 0 2rem 0;
  height: 107px;
  font-size: 6rem;
  padding-top: 1rem;
  font-family: 'CRU-pokawin-Alize';
  font-weight: normal;
  background: url('../public/images/brush-stroke-yellow.svg') no-repeat;
  background-position: center;
  background-size: contain;
}

.about__content {
  margin-bottom: 4rem;
}
