// contact


.contact {
  &__header {
    margin-top: 2rem 0 2rem 0;
    height: 107px;
    font-size: 6rem;
    padding-top: 1rem;
    font-family: 'CRU-pokawin-Alize';
    font-weight: normal;
    background: url('../public/images/brush-stroke-pink.svg') no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__social {
    &--github {
      background: url('../public/images/github-big-logo.svg') no-repeat center;
      padding: 1rem;
      margin-right: 1rem;
      background-size: 35px;
    }
    &--bitbucket {
      background: url('../public/images/bitbucket-logo.svg') no-repeat center;
      padding: 1rem;
      margin-right: 1rem;
      background-size: 35px;
    }
    &--twitter {
      background: url('../public/images/twitter.svg') no-repeat center;
      padding: 1rem;
      margin-right: 1rem;
      background-size: 35px;
    }
    &--linkedin {
      background: url('../public/images/linkedin-logo.svg') no-repeat center;
      padding: 1rem;
      margin-right: 1rem;
      background-size: 35px;

      &Description {
        position: relative;
        top: 0.3rem;
      }
    }
    &--email {
      background: url('../public/images/send-symbol.svg') no-repeat center;
      padding: 1rem 1rem 1.3rem 1rem;
      margin-right: 1rem;
      background-size: 35px;
    }
  }
}
