// About
.home__header {
  margin: 5rem 2rem 3rem 2rem;
  font-family: 'Titillium Web';
  font-size: 4.2rem;
  line-height: 5rem;

  &--orange {
    color: #FF5126;
  }
}

.home__linker {
  margin-bottom: 12rem;
  cursor: pointer;

  span {
    font-size: 1.6rem;
  }

  &--arrow {
    margin-top: -5rem;
    width: 3rem;
    height: 14rem;
  }
}

.home__skills {
  margin-bottom: 2rem;

  .home__item {
    div {
      margin-bottom: 4.5rem;

      h3 {
        font-family: 'Rock Salt'; // 'CRU-pokawin-Alize';
        font-size: 2rem;
        font-weight: normal;
        margin-top: 1rem;
        margin-bottom: 0rem;
        color: #F9FCFD;
      }

      p {
        font-family: Raleway;
        font-weight: 300;
        font-size: 1.1rem;
        line-height: 1.7rem;
        padding: 0 2.5rem 0 2.5rem;
        margin-bottom: 1.2rem;
      }
    }

    &--creativity {
      background: url('../public/images/brush-stroke-banner-5.svg') no-repeat center;
      background-size: 300px 240px;
      height: 104px;
    }

    &--challenge {
      background: url('../public/images/brush-stroke-banner-4.svg') no-repeat center;
      background-size: 300px 240px;
      height: 104px;
    }

    &--teamwork {
      background: url('../public/images/brush-stroke-banner-8.svg') no-repeat center;
      background-size: 300px 404px;
      height: 130px;
    }

    &--poc {
      background: url('../public/images/brush-stroke-banner-2.svg') no-repeat center;
      background-size: 300px 240px;
      height: 120px;
    }

    &--freedom {
      background: url('../public/images/brush-stroke-banner-3.svg') no-repeat center;
      background-size: 300px 240px;
      height: 104px;
    }
  }
}

.home__footer {
  margin: 1rem 3rem 1.3rem 3rem;
  font-size: 2rem;
}
