// General

// Font
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,400italic,600,700,300italic);

// partials
@import 'sidebar';
@import 'about';
@import 'contact';
@font-face {
  font-family: 'CRU-pokawin-Alize';
  src:  url('../public/fonts/CRU-pokawin-Alize-pencil-regular.ttf') format('truetype');
}

body {
  margin:0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, .8);
  font-weight: 300;
}

a {
  color: rgb(16, 151, 255);
  text-decoration: none;
  font-weight: 600;
  &:hover {
    color: rgba(16, 151, 255, 0.45);
  }
}

#content {
  height: 1000px;
}
