@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,400italic,600,700,300italic);

body {
  background-color: #79C5FF;
  color: #004F8B;
  margin:0;
  font-family: 'Titillium Web', sans-serif;
}

a {
  color: #FF9E00;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  li {
    list-style-type: none;
  }
}

#sidebar {
  background: #003D6B;
  height: 100vh;
}
