// General

// Font
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,400italic,600,700,300italic);

// partials
@import 'sidebar';
@font-face {
  font-family: 'CRU-pokawin-Alize';
  src:  url('../public/fonts/CRU-pokawin-Alize-pencil-regular.ttf') format('truetype');
}

body {
  margin:0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, .8);
  font-weight: 300;
}

a {
  color: rgb(16, 151, 255);
  text-decoration: none;
  font-weight: 600;
  &:hover {
    color: rgba(16, 151, 255, 0.45);
  }
}

#content {
  height: 1000px;

  .about__header {
    margin-top: 3rem;
    font-size: 2rem;

    &--highlight {
      font-size: 3rem;
    }
  }

  .about__item {
    &:hover {
      cursor: pointer;
    }

    span {
      font-family: 'CRU-pokawin-Alize';
      font-size: 8rem;
    }

    p {
      font-weight: 300;
    }

    &--creativity {
      background: url('../public/images/brush-stroke-orange.svg') no-repeat center;
      background-size: 439px 136px;
      &:hover {
        span {
          font-size: 3.9rem;
        }
        p {
          font-size: 1.3rem;
          margin: 0;
          display: block;
        }
      }
    }

    &--challenge {
      background: url('../public/images/brush-stroke-green.svg') no-repeat center;
      background-size: 439px 136px;
      &:hover {
        span {
          font-size: 3.9rem;
        }
        p {
          font-size: 1.3rem;
          margin: 0;
          display: block;
        }
      }
    }

    &--teamwork {
      background: url('../public/images/brush-stroke-blue.svg') no-repeat center;
      background-size: 439px 136px;
      &:hover {
        span {
          font-size: 3.9rem;
        }
        p {
          font-size: 1.3rem;
          margin: 0;
          display: block;
        }
      }
    }

    &--poc {
      background: url('../public/images/brush-stroke-yellow.svg') no-repeat center;
      background-size: 439px 136px;
      &:hover {
        span {
          font-size: 3.9rem;
        }
        p {
          font-size: 1.3rem;
          margin: 0;
          display: block;
        }
      }
    }

    &--freedom {
      background: url('../public/images/brush-stroke-pink.svg') no-repeat center;
      background-size: 439px 136px;
      &:hover {
        span {
          font-size: 3.9rem;
        }
        p {
          font-size: 1.3rem;
          margin: 0;
          display: block;
        }
      }
    }

    &--description {
      display: none;
    }
  }
}
